[submodule "tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim-tmux-navigator"]
	path = tmux/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "kitty/.config/kitty"]
	path = kitty/.config/kitty
	url = https://github.com/monoira/kitty-tabs.git
