[submodule "kitty/.config/kitty"]
  path = kitty/.config/kitty
  url = https://github.com/monoira/kitty-tabs.git
[submodule "kitty/.config/kitty"]
  path = kitty/.config/kitty
  url = https://github.com/monoira/kitty-tabs.git
